<h4 style="margin-bottom: 50px; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">{{'Witamy w
  systemie zarządzania studentami' | uppercase}}</h4>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button style="background-color: aliceblue;" type="button" data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button style="background-color: aliceblue;" type="button" data-bs-target="#carouselExampleDark"
      data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button style="background-color: aliceblue;" type="button" data-bs-target="#carouselExampleDark"
      data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="https://media.istockphoto.com/id/1371940128/pl/zdj%C4%99cie/wielorasowi-przyjaciele-robi%C4%85cy-sobie-selfie-w-du%C5%BCej-grupie-u%C5%9Bmiechni%C4%99ci-do-aparatu.jpg?s=612x612&w=0&k=20&c=ovu4cEjUm1CMB2neIoAnnkPqTr8jO48DZ3inCPo3Evg="
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: rgb(255,255,255); font-size: 30px;">Wyświetlaj listę studentów</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="https://media.istockphoto.com/id/1310896133/pl/zdj%C4%99cie/szcz%C4%99%C5%9Bliwy-u%C5%9Bmiechni%C4%99ty-biznesmen-afro-za-pomoc%C4%85-laptopa-przy-biurku-w-biurze.jpg?s=612x612&w=0&k=20&c=tJyldALSZc0OI5f43e366m7gS17IYg92LJf0FHVIcfk="
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:rgb(255, 255, 255); font-size: 30px;">Dodawaj studentów</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://media.istockphoto.com/id/1311107708/pl/zdj%C4%99cie/koncentruje-si%C4%99-%C5%82adny-stylowy-african-american-studentka-z-afro-dredy-studia-zdalnie-z-domu.jpg?s=612x612&w=0&k=20&c=8FKUQPQRNs2vSDP8V04ZjeNtcQUGhH0ZpZvRZ5gIjg4="
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: rgb(255, 255, 255); font-size: 30px;">Usuwaj strudentów</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card">
  <img src="..." class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" aria-hidden="true">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
  </div>
</div>